<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758974218487-chke1nghft79rnftdf8tvu0tj8ilfd8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758974218487-chke1nghft79rnftdf8tvu0tj8ilfd8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAhJiF3kK_UrBdzTc5Xkdd3Mm-46KWZ3HI</string>
	<key>GCM_SENDER_ID</key>
	<string>758974218487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.withWall</string>
	<key>PROJECT_ID</key>
	<string>with-wall</string>
	<key>STORAGE_BUCKET</key>
	<string>with-wall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758974218487:ios:44e4e11f2afc851e0713f2</string>
</dict>
</plist>